.btn-primary {
  background: $primary-shade;
  color: $black;
  border: 0 none transparent;
  min-width: 13.75rem;

  &:hover, &:focus, &:active {
    background: $primary-shade-hover;
    border: 0 none transparent;
    color: $black;
  }
}

.button.btn {
  border: 0 none;
  padding: 6px 1rem;
}
