/**
 * @file
 * Styles for Bootstrap Barrio's breadcrumbs.
 */
.breadcrumb {
  li {
    font-size: $base-font-size;
  }

  a {
    color: $text-color;
  }

  .breadcrumb-item + .breadcrumb-item::before {
    color: $text-color;
  }
}
