.site-branding__logo-img {
  width: 150px;
}

.site-branding__logo-link {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 1rem;

  @media #{$desktop} {
    margin-right: 3rem;
  }

  @media #{$desktop-large} {
    margin-right: 6rem;
  }

  @media #{$desktop-xlarge} {
    margin-right: 12rem;
  }
}
