// Navbar nav overrides
//
// Custom navbar navigation (doesn't require `.nav`, but does make use of `.nav-link`).

.navbar {
  padding: 0;

  .navbar-toggler {
    margin: $global-padding;
    font-size: $h6-font-size;
  }
}

.navbar-nav {
  margin-left: 0;

  .nav-link {
    padding: 0;
    font-size: $navbar-nav-link-size;
    font-family: $font-family-header;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.menu--main {
  &.block {}

  .navbar-nav {
    .nav-item {
      .nav-link {
        color: $black;
        padding-top: 0;

        .path-not-front & {
          color: $white;
        }

        &:hover,
        &:focus {
          color: $black;

        .path-not-front & {
            color: $white;
        }

          span {
            border-color: $black;

            .path-not-front & {
              color: $white;
            }
          }
        }

        span {}
      }
    }
  }
}

.dropdown-menu {
  .dropdown-item {
    a {
      &:hover,
      &:focus {}
    }
  }
}

// Button for toggling the navbar when in its collapsed state
.navbar-toggler {}
