/**
 * @file
 * Visual styles for Bootstrap Barrio's node component.
 */
.node__content {
  font-size: $font-size-base;

  h1 {
    text-align: center;
  }
}

.node--type-islandora-object {
  &.node--view-mode-full {
    .horizontal-tabs {
      padding: 0;
      border: 0 none;
    }

    .horizontal-tabs-list {
      background: $black;

      .horizontal-tab-button {
        &.selected {
          strong {
            color: $white;
            border: 0;
            margin: 0;
          }
        }
        a:hover {
          background: $black;
        }
      }
    }

    .horizontal-tabs-panes {
      .horizontal-tabs-pane {
        margin: 0;
        padding: 0;
        border: 0 none;

        .details-wrapper {
          font-size: 1.25rem;
          .field__label {
            font-size: 1.25rem;
          }

          > .field,
          #field-gemini-uri {
            color: $black;
            padding: .625rem 1rem;
            border-bottom: 1px solid;

            &:nth-child(even) {
              background: $light-gray-300;
            }

            .form-group,
            p {
              margin: 0;
            }
          }
        }
      }
    }
  }

  // field group html
  .detail-section {
    .detail-section-sub {
      > h2 {
        background: $black;
        color: $white;
        padding: 0.5rem 1rem;
        margin-bottom: 0;
      }

      > .field {
        padding: 0.8rem 1rem;
        border-bottom: 1px solid;
        margin-bottom: 0;
        @media #{$tablet} {
          display: grid;
          grid-template-columns: 1fr 2.5fr;
          grid-column-gap: 1em;
        }

        &:nth-child(odd) {
          background: $light-gray-300;
        }

        .field__label {
          font-size: 1.25rem;
        }

        p {
          margin-bottom: 0;
        }
      }

      #field-gemini-uri {
        .js-form-item {
          padding: 0.8rem 1rem;
          border-bottom: 1px solid;
          margin-bottom: 0;

          @media #{$tablet} {
            display: grid;
            grid-template-columns: 1fr 2.5fr;
            grid-column-gap: 1em;
          }

          a {
            word-break: break-word;
          }
        }
      }
      &:last-child {
        border-bottom: 10px solid $black;
      }
    }
  }
}

