/**
 * Pagers
 * - Full system pager.
 * - Views mini pager.
 ============================================================================ */
.pagination {
  .page-item {
    &.active {
      .page-link {
        background: none;
        color: $black;
        font-weight: bold;
      }
    }
  }
  .page-link {
    border: 0;
    color: $black;
    font-weight: normal;
    background: none;

    &:hover,&:active, &:focus {
      background: none;
      box-shadow: none;
      color: $black;
    }
  }
}
